<div class="jumbotron">
  <h1 style="text-align: center">View Quotes</h1>
  <h1 style="text-align: center"><small>&laquo<%= @sale.description.capitalize %>&raquo</small></h1>
</div>
<div class="table-responsive">
<table class="table table-bordered table-hover table-striped" style="text-align: center">
  <thead>
    <tr>
      <th style="width:10%; text-align: center">#</th>
      <th style="text-align: center;width:30%">Amount</th>
      <th style="text-align: center;width:30%">Month</th>
      <th style="text-align: center; width: 30%">Is paid</th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.number < 10? '0' + quote.number.to_s : quote.number %>/<%= quote.total < 10? '0' + quote.total.to_s : quote.total %></td>
        <td>$ <%= '%.2f' % quote.amount %></td>
        <% if quote.mounth < 10 %>
            <td>0<%= quote.mounth %>/<%= quote.year %></td>
        <% else %>
            <td><%= quote.mounth %>/<%= quote.year %></td>
        <% end %>

        <% if quote.is_paid %>
            <td>Paid</td>
        <% else %>
            <td><a id="quote_<%= quote.id %>_pay" class="pay" style="cursor: pointer" data-toggle="modal" data-target="#confirmPay" data-quote="<%= quote.id %>" data-number="<%= quote.number < 10? '0' + quote.number.to_s : quote.number %>/<%= quote.total < 10? '0' + quote.total.to_s : quote.total %>" >Pay Quote</a></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<div class="col-sm-2">
    <%= link_to 'Back', @sale, :class => 'btn btn-default btn-block'  %>
</div>


<!-- Modal -->
<div class="modal fade" id="confirmPay" tabindex="-1" role="dialog" aria-labelledby="confirmPay">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirmation</h4>
      </div>
      <div class="modal-body">
        <p id="message_modal_confirmPay">Are you sure want to pay the quote number X?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-loading-text="Loading..." id="pay_button" >Pay Quote</button>
      </div>
    </div>
  </div>
</div>