//*= require bootstrap
//*= require datepicker3


html{

}

body{
  background: rgb(211, 211, 211);
}

@media screen and (max-width: 480px){
    body{
        background: white !important;
    }
}

.container {
  background: white;
  padding: 20px;
  margin-top: -0px !important;
  border-radius: 5px;
}

.navbar-brand > img {
  width: 24px;
  position: relative;
  margin-right: 10px;
  display: inline;
  margin-top: -3px;
}

.jumbotron{
  border: solid #337ab7;
  background-color: rgba(110, 183, 255, 0.85);
  color: white;
}

.list-group-item {
  border: 1px solid #337ab7;
   overflow: hidden;
   padding-bottom: 0;
}
.list-group-item > p{
  margin-top: -10px;
  padding: 10px;
  margin-left: -15px;
  margin-right: 15px;
  background: #eee;
  line-height: 19px;
  margin-bottom: 0px;
}
.list-group-item > h5{
    line-height: 1px
}

.jumbotron > h1{
    font-size: 72px;
}

@media screen and (max-width: 480px){
  .jumbotron > h1{
    font-size: 40px;
   }
  .list-group-item > p{
    text-align: center !important;
    padding: 20px 0px 0px;
    line-height: 41px;
    margin: 0;
    margin-left: -15px;
    margin-top: -10px;
    padding-top: 0;
    width: calc(30px + 100%);
    border-radius: 3px 3px 0 0;
  }
  .list-group-item > h5{
    text-align: center !important;
    padding: 20px 0px 0px;
    line-height: 41px;
    margin: 0;
    margin-left: -15px;
    margin-top: -10px;
    padding-top: 0;
    width: calc(30px + 100%);
    border-radius: 3px 3px 0 0;
  }
   .col-xs-12{
    margin-bottom: 10px;
   }
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
  border: solid 1px #337ab7 !important;
}

.table-bordered > thead > tr{
  background: #0095C5;
  color: white;
}

.table{
    border: solid 1px #337ab7;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(121, 214, 218, 0.18);
}

table {
    border-collapse: separate;
    border-spacing: 0;
}
table, td2, th2{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
}
.table tr:last-child>th:first-child {
    border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
 }
.table tr:last-child>th:last-child {
    border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
 }
.table tr:last-child>td:first-child {
    border-radius: 0 0 0 5px;
    -moz-border-radius: 0 0 0 5px;
    -webkit-border-radius: 0 0 0 5px;
 }
.table tr:last-child>td:last-child {
    border-radius: 0 0 5px ;
    -moz-border-radius: 0 0 5px 0;
    -webkit-border-radius: 0 0 5px 0 ;
 }



