<h1>Listing punishments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @punishments.each do |punishment| %>
      <tr>
        <td><%= punishment.name %></td>
        <td><%= link_to 'Show', punishment %></td>
        <td><%= link_to 'Edit', edit_punishment_path(punishment) %></td>
        <td><%= link_to 'Destroy', punishment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Punishment', new_punishment_path %>
