<div class="rowd" style="background: #eee; border-radius: 5px; padding: 20px; margin-bottom: 20px;height: 100%;">
    <%= form_for(@sale, :html => {:class => 'form-horizontal'}) do |f| %>
      <% if @sale.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <p>Problem to save.</p>
        </div>
      <% end %>
        <% if @sale.errors[:description].to_a.size > 0 %>
            <div class="form-group has-error">
        <% else %>
            <div class="form-group">
        <% end %>

        <%= f.label :description, class:'col-sm-2 control-label' %>

            <div class="col-sm-6">
                <%= f.text_field :description , class:'form-control'%>
                <% if @sale.errors[:description].to_a.size > 0 %>
                    <p style="color: #a94442"><%= @sale.errors[:date].to_a.at(0).to_s.capitalize! %></p>
                <% end %>
                </div>
            </div>

        <% if @sale.errors[:person_id].to_a.size > 0 %>
            <div class="form-group has-error">
        <% else %>
            <div class="form-group">
        <% end %>
            <%= f.label :person_id, class:'col-sm-2 control-label' %>
          <div class="col-sm-6">
            <%= f.collection_select :person_id, Person.all, :id, :name, {prompt: ' - Select a Person - '}, {class: 'form-control'} %>
                <% if @sale.errors[:person_id].to_a.size > 0 %>
                    <p style="color: #a94442"><%= @sale.errors[:person_id].to_a.at(0).to_s.capitalize! %></p>
                <% end %>
          </div>
        </div>
        <% if @sale.errors[:date].to_a.size > 0 %>
            <div class="form-group has-error">
        <% else %>
            <div class="form-group">
        <% end %>

            <%= f.label :date, class:'col-sm-2 control-label' %>

            <div class="col-sm-6">
              <div class="input-group">
                    <%= f.text_field :date , class:'form-control datepicker', style:'background: white; cursor: pointer', readonly: true %>
                    <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
              </div>
                  <% if @sale.errors[:date].to_a.size > 0 %>
                      <p style="color: #a94442"><%= @sale.errors[:date].to_a.at(0).to_s.capitalize! %></p>
                  <% end %>
            </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="quotes_quantity">Quantity of Quotes:</label>
          <div class="col-sm-6">
            <input type="number" class="form-control numberinput" id="quotes_quantity" value="1" name="quotes_quantity" min="1" step="1" pattern="\d*" required="true">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="amount">Amount per Quote:</label>
          <div class="col-sm-6">
            <div class="input-group">
                <div class="input-group-addon">$</div>
                    <input type="number" class="form-control numberinput" id="amount" name="amount" value="1" min="0.01" step="0.01" pattern="\d*" required="true">
                </div>
          </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirmation</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure want to save this sale?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <%= f.submit 'Confirm', :class => 'btn btn-success' %>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="form-group">
          <div class="col-sm-2"></div>
          <div class="col-sm-2 col-xs-6">
            <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal">Submit</button>
          </div>
          <div class="col-sm-2 col-xs-6">
            <%= link_to 'Back', sales_path, :class => 'btn btn-default btn-block'  %>
          </div>
        </div>
    <% end %>
</div>